ul{
  list-style-type: none;
}
li{
  background-color: rgb(15, 230, 15);
  color: white;
  width: 100px;
  padding: 11px 25px;
  text-align: center;
  text-transform: uppercase;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition-duration: 1s;
}
li:hover{
  background-color: rgb(16, 139, 2);
}
ul ul{
  z-index: 9999;
  display: none;
  position: absolute;
  padding: 14px;
  margin-left: -40px;
}
ul li:hover ul{
  display: block;
}

ul ul li{
  background-color: greenyellow;
  color: rgb(5, 218, 5);
  margin-bottom: 4px;

}
ul ul li:hover{
  background-color: rgba(27, 236, 4, 0.76);
  color: rgb(5, 218, 5);
  transition-duration: 1s;
}